@import "./base.css";

#app {
  max-width: 50rem;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.blue {
  text-decoration: none;
  color: rgb(13, 0, 189);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--vt-c-mac-blue-light);  /* hover color from base.css*/
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
